[client]
loose-default-character-set = utf8

[mysql]
loose-default-character-set = utf8

[mysqld]
collation-server = utf8_unicode_ci
loose-default-character-set = utf8
character-set-server = utf8
init-connect = 'SET NAMES utf8'
skip-character-set-client-handshake
sql-mode=''
